<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 如标签不能联想是缺少dtd -->
<configuration>
	<!-- setting 延迟加载 二级缓存（不用） 使用分布式缓存 -->
	<!-- 别名 -->
	<typeAliases>
		<package name="com.lwyykj.core.bean" />
	</typeAliases>

</configuration>